# PA005: High Values Customer Identification (Insiders)

# Imports

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Helper Functions

## 0.0 Planejamento da Solução  (IOT)

### Input - Entrada

1. Problema de Negócio
  - Selecionar os clientes mais valiosos para integrar um programa de Fidelização
  

2. Conjunto de dados
  - Vendas de um  e-commerce online, durante o período de uma ano

### Output - Saída

1. A indicação das pessoas que farão parte do programa Insiders.
  - Lista cliente_id | is_insider|
  
    
2. Relátorio com as respostas das perguntas de negócio.

  - Quem são as pessoas elegíveis para participar do programa de Insiders ?
  -  Quantos clientes farão parte do grupo?
  -  Quais as principais características desses clientes ?
  -  Qual a porcentagem de contribuição do faturamento, vinda do Insiders ?
  -  Qual a expectativa de faturamento desse grupo para os próximos meses ?
  -  Quais as condições para uma pessoa ser elegível ao Insiders ?
  -  Quais as condições para uma pessoa ser removida do Insiders ?
  -  Qual a garantia que o programa Insiders é melhor que o restante da base ?
  -  Quais ações o time de marketing pode realizar para aumentar o faturamento?

### Task - Tarefas

1. Quem são as pessoas elegíveis para participar do programa de Insiders ?
   - O que é ser elegível? O que são cliente de maior "valor"?
   - Faturamento:
     - Alto Ticket Médio.
     - Alto LTV.
     - Baixo  Recência.
     - Alto basket size.
     - Baixa probabilidade de Churn.
     
   - Custo:
     - Baixo taxa de devolução.
   - Experiência de compra:
     - Média alta das avaliação

2. Quantos clientes farão parte do grupo?
   - Número total de clientes
   - % do grupo Insidiers
   
3. Quais as principais características desses clientes ?
   - Escrever caracteristicas do cliente:
     - Idade
     - Localização
     
   - Escrever caracteristicas de consumo.
     - Atributos da clusterização
   
   
4. Qual a porcentagem de contribuição do faturamento, vinda do Insiders ?
    - Faturamento total ao ano
    - Faturamento do grupo Insiders

5. Qual a expectativa de faturamento desse grupo para os próximos meses ?
    - LTV do grupo Insiders
    - Análise de Cohort
    
6. Quais as condições para uma pessoa ser elegível ao Insiders ?
    - A pessoa precisa ser similar com uma pessoa do grupo.
    - Definir a periodicidade (1 mes, 3 meses)

7. Quais as condições para uma pessoa ser removida do Insiders ?
    - A pessoa precisa ser não-similar com uma pessoa do grupo.
    - Definir a periodicidade (1 mes, 3 meses)

8. Qual a garantia que o programa Insiders é melhor que o restante da base ?
   - Teste A/B
   - Teste A/B Bayesiano
   - Teste de hipótese

9. Quais ações o time de marketing pode realizar para aumentar o faturamento?
   - Desconto
   - Frete
   - Preferência de compra

## 0.1 Benchmark de Soluções

### Desk Research

- RFM Model - Recency, Frequency and Monetary por id
 - Passo 01:

 Ordenar os clientes por Recency

 - Passo2:

 a. Dividir a base de clientes de acordo com as notas

    i. notas de 1-5.

    ii. 5 grupos de 20% cada.

 - Passo3:

 Repetir os Passos1 e 2 para Frequency e Monetary

 - Passo4:

 RFM Score - Média das notas.
 Grafico Frequency Score vs Recency Score - Mapeamento dos segmentos de clientes

# 0.2 Load Dataset

In [5]:
df_raw = pd.read_csv('../data/raw/Ecommerce.csv')
df_raw.drop('Unnamed: 8', inplace=True, axis=1)

In [6]:
df_raw.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom

# 1.0 Descrição dos Dados

## 1.1 Rename Columns

In [8]:
df_raw.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [9]:
cols_new = ['invoice_no', 'stock_code', 'descriiption', 'quantity', 'invoice_date', 'unit_price', 'customer_id', 'country']
df_raw.columns = cols_new

In [10]:
df_raw.sample()

,invoice_no,stock_code,descriiption,quantity,invoice_date,unit_price,customer_id,country
316516,564754,85131D,BEADED CRYSTAL HEART PINK ON STICK,25,28-Aug-17,0.83,NaN,United Kingdom

## 1.2 General Describe

In [15]:
%%time
# General describer
pd.DataFrame({'dtypes': df_raw.dtypes,
              'missing': df_raw.isna().mean(),
              'uniques': df_raw.nunique(),
              'min': df_raw.min(),
              'max': df_raw.max(),
              'mean':df_raw.mean() ,
              'median':df_raw.median() ,
              'skew': df_raw.skew() ,
              'kurt': df_raw.kurt()})

CPU times: user 5min 5s, sys: 483 ms, total: 5min 6s
Wall time: 5min 5s

,dtypes,missing,uniques,min,max,mean,median,skew,kurt
country,object,0.000000,38,Australia,Unspecified,NaN,NaN,NaN,NaN
customer_id,float64,0.249267,4372,12346.0,18287.0,15287.690570,15152.00,0.029835,-1.179982
descriiption,object,0.002683,4223,NaN,NaN,NaN,NaN,NaN,NaN
invoice_date,object,0.000000,305,1-Apr-17,9-Sep-17,NaN,NaN,NaN,NaN
invoice_no,object,0.000000,25900,536365,C581569,NaN,NaN,NaN,NaN
quantity,int64,0.000000,722,-80995,80995,9.552250,3.00,-0.264076,119769.160031
stock_code,object,0.000000,4070,10002,m,NaN,NaN,NaN,NaN
unit_price,float64,0.000000,1630,-11062.06,38970.0,4.611114,2.08,186.506972,59005.719097

### 1.2.1 Data Dimensions

In [12]:
# Original data dimensions
df_raw.shape

(541909, 8)

## 1.3 Missing Values

### 1.3.1 Replace NAs

In [19]:
# Just Droping the NAs for now
df_raw = df_raw.dropna(subset = ['descriiption','customer_id'])
df_raw.isna().mean()

invoice_no      0.0
stock_code      0.0
descriiption    0.0
quantity        0.0
invoice_date    0.0
unit_price      0.0
customer_id     0.0
country         0.0
dtype: float64

In [20]:
# New dimensions
df_raw.shape

(406829, 8)

## 1.4 Change dtypes

In [23]:
# invoice_data
df_raw['invoice_date'] = pd.to_datetime(df_raw['invoice_date'], format= '%d-%b-%y')


#customer_id
df_raw['customer_id'] = df_raw['customer_id'].astype(int)
df_raw.head()

,invoice_no,stock_code,descriiption,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2016-11-29,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2016-11-29,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2016-11-29,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2016-11-29,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2016-11-29,3.39,17850,United Kingdom

In [24]:
df_raw.dtypes

invoice_no              object
stock_code              object
descriiption            object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
customer_id              int64
country                 object
dtype: object

# 2.0 Feature Engineering

In [60]:
df1 = df_raw.copy()

### 2.1 Feature Creation

In [61]:
# data reference 
df_ref = df1.drop(['invoice_no', 
                   'stock_code', 
                   'descriiption', 
                   'quantity', 
                   'invoice_date', 
                   'unit_price', 
                   'country'], axis=1).drop_duplicates(ignore_index=True)
df_ref.head()

   customer_id
0        17850
1        13047
2        12583
3        13748
4        15100

In [62]:
# Gross Revenue (Faturamento) quantity * price
df1['gross_revenue'] = df1['quantity'] * df1['unit_price']

# Monetary
df_monetary = df1[['customer_id','gross_revenue']].groupby('customer_id').sum().reset_index()
df_ref = df_ref.merge(df_monetary, on="customer_id", how="left")

# Recency - Last day purchase
df_recency = df1[['customer_id','invoice_date']].groupby('customer_id').max().reset_index()
df_recency['recency_days'] = (df1['invoice_date'].max() - df_recency['invoice_date']).dt.days
df_recency = df_recency[['customer_id','recency_days']]
df_ref = df_ref.merge(df_recency, on='customer_id', how='left')

# Frequency
df_freq = df1[['customer_id','invoice_no']].drop_duplicates().groupby('customer_id').count().reset_index()
df_ref = df_ref.merge(df_freq, on='customer_id', how='left')

In [63]:
df_ref.isna().mean()

customer_id      0.0
gross_revenue    0.0
recency_days     0.0
invoice_no       0.0
dtype: float64

# 3.0 Filtragem de Variáveis

In [65]:
df2 = df_ref.copy()

# 4.0 EDA

In [66]:
df3 = df2.copy()

# 5.0 Data Preparation

In [67]:
df4 = df3.copy()

# 6.0 Feature Selection

In [68]:
df5=df4.copy()

# 7.0 Hyperparameter Fine-Tunning

In [70]:
df6=df5.drop(columns=['customer_id'], axis=1)

In [71]:
df6.head()

   gross_revenue  recency_days  invoice_no
0        5288.63           302          35
1        3079.10            31          18
2        7187.34             2          18
3         948.25            95           5
4         635.10           330           6

### 7.1 Within-Cluster Sum of Square (WSS)

### 7.2 Sillhoute Score

# 8.0 ModelTraining

# 9.0 Cluster Analysis

# 10.0 Deploy in production